/* Reset della pagina html */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 8px;
    font-family: 'Lato', sans-serif;
}


/* Utility */

  /* Containers*/
.containers{
    display:inline-block;
    width:640px;
    height:600px;
    /*border:1px solid brown; */
    margin: 8px 25% 0;
    position:relative;
}

.clothing{
    display:inline-block;
    width: 200px;
    height:300px;
    /* border:1px solid blue; */
}

.prize{
    display:inline-block;
    background-color: white;
    width: 200px;
    height: 34px;
    padding: 1px;
    /* border:1px solid red; */
    position: absolute;
    top:89%;
    left: 0%;
}

    /* Container Position Models*/


.abso1{
    position:absolute;
    top:0;
    left: 0;
    background-image: url(./../img/1.webp);
    background-repeat: no-repeat;
    background-size: contain;
}



.abso1:hover{
    background-image: url(./../img/1b.webp);
    Cursor: pointer;
}

.abso2{
    position:absolute;
    top:0;
    left: 34%;
    background-image: url(./../img/2.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.abso2:hover{
    background-image: url(./../img/2b.webp);
    Cursor: pointer;
}

.abso3{
    position:absolute;
    top:0;
    left: 68%;
    background-image: url(./../img/3.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.abso3:hover{
    background-image: url(./../img/3b.webp);
    Cursor: pointer;
}

.abso4{
    position:absolute;
    top:51.5%;
    left: 0;
    background-image: url(./../img/4.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.abso4:hover{
    background-image: url(./../img/4b.webp);
    Cursor: pointer;
}

.abso5{
    position:absolute;
    top:51.5%;
    left: 34%;
    background-image: url(./../img/5.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.abso5:hover{
    background-image: url(./../img/5b.webp);
    Cursor: pointer;
}

.abso6{
    position:absolute;
    top:51.5%;
    left: 68%;
    background-image: url(./../img/6.webp);
    background-repeat: no-repeat;
    background-size: contain;
}

.abso6:hover{
    background-image: url(./../img/6b.webp);
    Cursor: pointer;
}

.font1{
    font-weight: bold;
    vertical-align: middle;
    font-size: 1.2em;
}

.font2{
    font-weight: bold;
    color: red;
    vertical-align: middle;
    font-size: 0.9em;
}

.font3{
    font-weight: bold;
    color: grey;
    text-decoration-line:line-through;
    vertical-align: middle;
    font-size: 0.9em;
}


.heart{
    display:inline-block;
    background-color: white;
    width: 20px;
    height: 20px;
    font-weight: bold;
    color: black;
    font-size: 2em;
    text-align: center;
    position:absolute;
    top: 5%;
    left: 90%;
}

.discount{
    display:inline-block;
    background-color: crimson;
    width: 30px;
    height: 10px;
    font-weight: bold;
    color: white;
    font-size: 1em;
    text-align: center;
    position:relative;
    top: 82%;
    left: 1%;
}

.sustainability{
    display:inline-block;
    background-color: seagreen;
    width: 60px;
    height:12px;
    font-weight: bold;
    color: white;
    font-size: 1em;
    text-align: center;
    position:absolute;
    top: 82%;
    left: 17%;
}

.sustainability2{
    display:inline-block;
    background-color: seagreen;
    width: 60px;
    height:12px;
    font-weight: bold;
    color: white;
    font-size: 1em;
    text-align: center;
    position:absolute;
    top: 82%;
    left: 1%;
}
